/Currency_1206.class
/Ex1_1206.class
/Ex3_1206.class
/Group_1206.class
/IfExam1.class
/IfExam2.class
/IfExam2_1.class
/IfExam3.class
/IfExam4.class
/If_Age.class
/If_Else_Test.class
/If_Elseif_Else_Test.class
/If_Example.class
/If_Score.class
/If_Score2.class
/If_Teacher.class
/If_Test.class
/Max.class
/MinOfThree.class
/Multiple_3.class
/Multiple_if.class
/Tax_calculate.class
